name: Build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"
          check-latest: true

      - name: Build rclone
        run: |
          git clone --depth 1 --branch v1.69.1 https://github.com/rclone/rclone
          cd rclone
          go build -o "${GITHUB_WORKSPACE}/rclone-bin"

      - name: Fix Go module path (use local rclone)
        run: |
          go mod edit -replace "github.com/rclone/rclone=${GITHUB_WORKSPACE}/rclone"
          go mod tidy

      - name: Build Telebox plugin
        run: |
          go build -buildmode=plugin -o librcloneplugin_telebox.so
          ls -lah

      - name: Setup Rclone plugin path
        run: |
          echo "RCLONE_PLUGIN_PATH=${GITHUB_WORKSPACE}" >> $GITHUB_ENV

      - name: Test plugin with rclone
        run: |
          chmod +x ./rclone-bin
          ./rclone-bin help backend telebox
